@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
  text-align: center;
}

.App-header {
  background-color:whitesmoke;
  font-size: 22pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.members {
  margin: 15px auto;
  font-size: 20px;
  border: 1px black solid;
  width: 80vw;
  min-width: 550px;
  max-width: 700px;
}
.name {
 text-align: left;
 width: 50%;
 display: inline-block;
 min-width: 100px;
 margin-left: 0px;
}
.subscription {
  text-align: left;
  width: 20%;
  display: inline-block;
  min-width: 50px;
}
.cost {
  text-align: right;
  width: 20%;
  display: inline-block;
  min-width: 50px;
  padding-right: 15px;
}
.memberlist {
  padding-left: 5px;
}
.columnHeaders {
  margin: 20px;
}
